.content {
  display: flex;
  flex-direction: row;
  align-items: start;
}


input[type="text"] {
  outline: none;
}

.desc {
  min-height: 10em;
}

.text-disabled {
  color: gray;
  font-size: smaller;
  text-align: center;
}

.creator {
  align-items: center;
}

.due {
  align-items: center;
  font-size: smaller;
  margin-right: 1em;
}

.creator img {
  margin: 0;
  margin-right: 1em;
}

