<div>
  <mat-toolbar>
    <button mat-icon-button (click)="gotoLastPage()">
      <mat-icon>
        keyboard_return
      </mat-icon>
    </button>
    <h3>{{ task.name }}</h3>

    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>

  <mat-divider />

  <div class="content">

    <div class="main">
      <div class="head app-row">
        <p class="creator app-row">
          <img mat-card-avatar src="https://i.pravatar.cc/300" />
          <span class="label">Created by&nbsp;</span>
          <span>{{task.creator.lastname}}</span>
          <span>&nbsp;At&nbsp;</span>
          <span class="date">{{task.created_at | date}}</span>
        </p>
        <span class="spacer"></span>
        <p class="due app-row">
          <span>Due&nbsp;</span>
          <span>{{task.due_at | timeAgo}}</span>
        </p>
      </div>
      <div class="desc">
        @if (task.desc) {
        <p>
          {{task.desc}}
        </p>
        }
        @else {
        <p class="text-disabled">
          This task does not have any description.
        </p>
        }
      </div>

      <app-comments-section (onSubmit)="submitComment($event)" [commentService]="service" [comments]="task.comments"/>
    </div>
  </div>

</div>
