.body {
  margin-top: 1em;

}

.avatars {
  align-items: center;
}
.avatars .label {
  margin-left: 0.4em;
  font-size: small;
  align-items: center;
  gap: 0.2em;
}
.avatars img {
  width: 24px;
  height: 24px;
  margin: 0;
}

.avatars>.shadow{
  color: gray;
  border: 2px solid white;
  border-radius: 100px;
  margin-left: -0.4em;
}

mat-tab mat-icon {
  margin: 0.5em;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  margin-top: 1em;
}
.tasks > .task {
  border: 1px solid gray;
  border-radius: 0;
  padding: 0 1em;
}
.tasks .head {
  align-items: center;
  gap: 1em;
  margin: 0;

}
.tasks .foot {
  gap: 0.3em;
  justify-content: right;
}
.tasks .foot * {
  font-size: x-small;
  color: gray;
}
