  @defer (when group) {
<mat-toolbar>

  <h3>{{ group.name }}</h3>

  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>

</mat-toolbar>


<mat-divider />


<div class="avatars">
  @for (item of group.admins; track item) {
  <div>
    <mat-icon>person</mat-icon>
    <!--<div matListItemLine>{{item.desc}}</div>-->
  </div>
  }
</div>

<div class="avatars">
  @for (item of group.members; track item) {
  <div>
    <mat-icon>person</mat-icon>
    <!--<div matListItemLine>{{item.desc}}</div>-->
  </div>
  }
</div>

}
<!--<mat-form-field appearance="outline">-->
<!--  <mat-label>Search for...</mat-label>-->
<!--  <input matInput placeholder="Placeholder">-->
<!--  <mat-icon matSuffix>search</mat-icon>-->
<!--</mat-form-field>-->



<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>task</mat-icon>
      <span>Tasks</span>
    </ng-template>
    <div class="content">

      <p *ngIf="group.tasks.length <= 0">No community has posted anything. <mat-icon>sentiment_dissatisfied</mat-icon>
      </p>
      <div *ngIf="group.tasks.length >= 0" class="tasks">
        @for (item of group.tasks; track item) {
        <mat-card routerLink="/task/{{item.id}}">
          <mat-card-content>{{item.name}}</mat-card-content>
        </mat-card>
        }
      </div>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>school</mat-icon>
      <span>Resources</span>
    </ng-template>
    <div class="content">
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>connect_without_contact</mat-icon>
      <span>Forum</span>
    </ng-template>
    <div class="content">
      <p>No live events are ongoing.<mat-icon>sentiment_dissatisfied</mat-icon></p>
    </div>
  </mat-tab>
</mat-tab-group>
