
.tasks {
  gap: var(--margin-small);
}
.task-icon {
  // color: var(--color-accent);
  font-size: 32px;
  width: 32px;
  height: 32px;
}
.task {
  border: 1px solid var(--color-outline-normal);
  border-radius: var(--border-normal);
  cursor: pointer;
}
.foot {
  justify-content: left;
}
