<div class="row options">
  <button mat-button class="sort-button">
    <mat-icon>sort</mat-icon>
    <div>
      {{sortings[sorting]}}
    </div>
  </button>
  <div class="views">
    @for (item of views; track item) {
    <button mat-button [class.view]="view == $index" (click)="view = $index">
      <mat-icon>
        {{item.icon}}
      </mat-icon>
      <p>
        {{item.label}}
      </p>

    </button>
    }
  </div>

</div>
<div class="content">

  <!--@if (groups)-->
  @defer (when posts()) {
  <div class="posts column">
    @for (item of posts(); track item) {
    <app-post-preview [post]="item" />
    }
  </div>
  }
  @placeholder (minimum 0.4s) {
  <div class="app-anim-loadbars"></div>
  }
  @error {
  <p>No community has posted anything. <mat-icon>sentiment_dissatisfied</mat-icon></p>
  }
</div>
