

// .options {
//   font-size: ;
// }

.views * {
  color: var(--color-disabled);
}

.view * {
  color: var(--color-normal);
}


.posts {
  gap: var(--margin-normal);
  margin-top: var(--margin-small);
}

.app-anim-loadbars {
  position: relative;
  top: 30vh;
  left: 50%;
}
