<div>

  <div class="header column-centered">
    <img [src]="school().banner" class="banner" />
    <img [src]="school().logo" class="border-circle logo" />
    <h1>{{school().name}}</h1>
    <p>{{school().desc}}</p>
  </div>

  <div class="row sections">
    <div class="content column">
      <nav mat-tab-nav-bar [tabPanel]="panel">
        @for (item of tabs; track item) {
        <a mat-tab-link [routerLink]="item.url" (click)="activeTab = item.url" [active]="activeTab == item.url">
          {{item.name}}
        </a>
        }
      </nav>
      <mat-tab-nav-panel class="active-content" #panel>
        <div class="container">
          <router-outlet />
        </div>
      </mat-tab-nav-panel>
    </div>
  </div>

</div>
