<div class="sidenav">
  <mat-list class="navs">
    @for (item of popular; track item) {
    <mat-list-item [routerLink]="item.url">
      <mat-icon matListItemIcon>{{ item.icon}}</mat-icon>
      <div matListItemTitle>{{item.name}}</div>
      <!--<div matListItemLine>{{item.desc}}</div>-->
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <!--<div mat-subheader class="classes">Classes</div>-->
    <mat-list-item (click)="onElementClick($event)">
      <mat-icon matListItemIcon>splitscreen_landscape</mat-icon>
      <div matListItemTitle>Classes</div>
    </mat-list-item>
    <mat-list-item [matMenuTriggerFor]="groupsMenu">
      <mat-icon matListItemIcon>diversity_3</mat-icon>
      <div matListItemTitle>Groups</div>
    </mat-list-item>
    <mat-list-item routerLink="/school">
      <mat-icon matListItemIcon>school</mat-icon>
      <div matListItemTitle>School</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>summarize</mat-icon>
      <div matListItemTitle>Resources</div>
    </mat-list-item>
    <mat-divider />

    <div class="events">
      Nothings happening right now.

    </div>
  </mat-list>
</div>


<mat-menu #groupsMenu="matMenu" class="groups">
  @for (item of groups; track item) {
  @if (item.type != "CLASS") {
  <div mat-menu-item routerLink="/group/{{item.id}}">
    <div class="app-row-center item ">
      <img mat-card-avatar src="https://i.pravatar.cc/300" />
      <div class="name label">
        {{item.name}}
      </div>
    </div>
  </div>
  }
  }
  <!-- Add your custom overlay content here -->
</mat-menu>
