<div class="sidenav">
  <mat-list class="navs">
    @for (item of popular; track item) {
    <mat-list-item [routerLink]="item.url">
      <mat-icon matListItemIcon>{{ item.icon}}</mat-icon>
      <div matListItemTitle>{{item.name}}</div>
      <!--<div matListItemLine>{{item.desc}}</div>-->
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <!--<div mat-subheader class="classes">Classes</div>-->
    <mat-list-item (click)="onElementClick($event)">
      <mat-icon matListItemIcon>splitscreen_landscape</mat-icon>
      <div matListItemTitle>Classes</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>diversity_3</mat-icon>
      <div matListItemTitle>Groups</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>school</mat-icon>
      <div matListItemTitle>School</div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>summarize</mat-icon>
      <div matListItemTitle>Resources</div>
    </mat-list-item>
    <mat-divider />

    <div class="events">
      Nothings happening right now.

    </div>
    <!--@for (item of classes; track item) {-->
    <!--<mat-list-item routerLink="/group/{{item.id}}">-->
    <!--  <mat-icon matListItemIcon>item</mat-icon>-->
    <!--  <div matListItemTitle>{{item.name}}</div>-->
    <!--<div matListItemLine>{{note.desc}}</div>-->
    <!--</mat-list-item>-->
    <!--}-->

  </mat-list>
</div>
