.sidenav * {
  font-size: 14px;
}

// .current-router {
//   border-left: 5px solid var(--color-accent);
// }

.current-router {
  color: var(--color-normal);
}

.navs>div {
  border-radius: var(--border-rounded);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: color 0.1s;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: var(--margin-normal);
}

.navs>div:hover div {
  color: var(--color-contrast);
}


.sidenav mat-icon {
  font-size: large;
}

.events {
  background-color: var(--color-bg-subtle);
}
