

.toolbar {
  border-bottom: 5px solid #cacaca;
}

.buttons {
  gap: 0.3em;
}

.mail-button, .notif-button {
  background-color: #ebebeb;
}

.account-button {
  border: 1px solid gray;
  // color: #CBDCEB;
  // background-color: #608BC1;
  padding: 0.3em;
  margin-left: 0.3em;
}

