

.toolbar {
  border-bottom: 1px solid var(--color-outline-normal);
  border-color: var(--color-nav-line);
  background-color: var(--color-nav);
  padding: var(--margin-small);
  // height: 200px;
}

.buttons {
  gap: 0.3em;
}

.account-button {
  padding: 0.3em;
  margin-left: 0.3em;
}

