<mat-toolbar class="toolbar">
  <button mat-icon-button>
    <mat-icon>token</mat-icon>
  </button>
  <span>LMS</span>

  <span class="spacer"></span>

  <div class="buttons app-row">
    <button mat-icon-button *ngIf="role == 'ADMIN'">
      <mat-icon [matMenuTriggerFor]="createMenu.menu">design_services</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="notifMenu.menu" class="notif-button">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="mail-button">
      <mat-icon>mail</mat-icon>
    </button>
    <button mat-icon-button class="account-button" [matMenuTriggerFor]="profileMenu.menu"
      [class.admin]="role == 'ADMIN'" [class.student]="role == 'STUDENT'" [class.teacher]="role == 'TEACHER'">
      <mat-icon>person</mat-icon>
    </button>
  </div>

  <app-notifications #notifMenu />
  <app-profile-menu #profileMenu />
  <app-create-menu #createMenu />

</mat-toolbar>
