.post.container {
  border-radius: var(--border-normal);
  border: 2px solid var(--color-outline-normal);
  transition: background-color 0.1s;
}

.post-title {
  color: var(--color-normal);
  font-size: large;
}

.post-desc {
  color: var(--color-medium);
}

.actions {
  gap: 0.3em;
}

.actions * {
  font-size: smaller;
  color: var(--color-medium);
}

.actions mat-icon {
  font-size: medium;
  color: black;
}

.actions>button {
  font-size: small;
}


.attachments>* {
  border-radius: var(--border-normal);
  padding: var(--margin-small);
  gap: var(--margin-small);
  background-color: var(--color-bg-light);
}

.title {
  font-size: small;
}


.actions {
  gap: 0.3em;
}

.actions * {
  font-size: smaller;
  color: gray;
}

.actions mat-icon {
  font-size: medium;
  color: black;
}

.actions>button {
  font-size: small;
}

.liked {
  background-color: #DFF2EB;
}

.comments .all {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.comment {
  gap: 0.5em;
}

.comment .header {
  margin: 0.2em;
}

.comment .name {
  font-size: small;
}

.comment .date {
  font-size: x-small;
}

.comment .section {
  padding: 0 1em;
  border-radius: 1em;
  background-color: #f1f1f1;
}

.comment .actions * {
  font-size: small;
}
