<mat-toolbar class="header row container">
  <div class="header-text row-centered">
    <!--<mat-icon class="icon-outline"></mat-icon>-->
    <span class="header-title">
      <span>
        Post
      </span>
      <!--<span class="number">-->
      <!--  # 1-->
      <!--</span>-->
    </span>
  </div>

  <span class="spacer"></span>

  <button class="close-button" mat-icon-button [routerLink]="getLastPage()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<div class="horizontal-line"></div>


<div class="post container">
  <div class="header">
    <div class="row">
      <img class="border-circle" src="https://i.pravatar.cc/300" />
      <span class="header-info column">
        <p>
          <span>
            {{ post.source.lastname }}, {{ post.source.firstname }}
          </span>
          <span class="text-hint-small">

            - {{post.group.name}}
          </span>
        </p>
        <p class="text-hint-small">
          {{ post.updated_at | timeAgo }}
        </p>
      </span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="favorite()">
        <mat-icon [class.icon-outline]="!isFavorited()">book</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="post-title container">
      {{ post.title }}
    </div>
  </div>

  @if (post.cover_img) {
  <img [src]="post.cover_img" alt="Cover image" />
  }
  <div>
    <p class="post-desc">
      {{post.desc}}
    </p>
    <div class="attachments container">
      @for (item of post.attachments; track item) {
      @if (item) {
      <div class="row">
        <mat-icon>attachment</mat-icon>
        <div>{{item}}</div>
      </div>
      }
      @else {
      <div>No name</div>
      }
      }
    </div>
  </div>
  <div class="actions row">
    <button mat-button (click)="react()">
      <mat-icon [class.icon-outline]="!hasReaction()">thumb_up</mat-icon>
      <div>{{post.reacts.length}}</div>
    </button>
    <button mat-button routerLink="/post/{{post.id}}">
      <mat-icon>chat</mat-icon>
      <div>{{post.comments.length}}</div>
    </button>
    <span class="spacer"></span>
    <button mat-button><mat-icon>share</mat-icon>
      <div>Share</div>
    </button>
  </div>
</div>

<div class="container">
  <app-comments-section (onSubmit)="submitComment($event)" [commentService]="service" [comments]="post.comments" />
</div>
