:root {
  --font-size-sidenav: 14px;
  --font-size-header: 14px;
  --font-size-title: 22px;
  --font-size-sub: 18px;
  --font-size-tab: 15px;
  --font-size-label: 13px;
  --font-size-normal: 16px;
  --font-size-input: 12px;

}

h3 {
  font-size: var(--font-size-sub);
  font-weight: normal;
}

.font-title {
  font-size: var(--font-size-sub);
}

.font-sub {
  font-size: var(--font-size-tab);
}

.text-disabled {
  color: var(--color-disabled);
}

@media only screen and (max-width: 1000px) {
  div * {
    font-size: 30px;
  }

}
