
.container {
  background-color: #eaeaea;
  border-radius: 2em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 2em;
  margin: 2em;
  border-left: 0.5em solid lime;
}
.text {
  font-style: italic;
}
.author {
  font-weight: bold;
}
