@defer (when group) {
<mat-card class="about panel">
  <div class="title font-title container">About {{group.name}}</div>
  <div class="horizontal-line"></div>
  <div class="desc container">{{group.desc}}</div>
  <div class="status">
    <div>
      <button mat-button>
        <mat-icon>language</mat-icon>
        <div>7 Online</div>

      </button>
    </div>
    <div>
      <button mat-button (click)="seeMembers()">
        <mat-icon>person</mat-icon>
        <div>{{group.members.length}} Members</div>
      </button>
    </div>
    <div>
      <button mat-button>
        <mat-icon>visibility</mat-icon>
        <div>4 Watching</div>
      </button>
    </div>
  </div>
  <div class="admin">
    <div class="title">Administrators</div>
    <div class="list">
      @for (item of group.admins; track item) {
      <div class="row-centered">
        <img mat-card-avatar src="https://i.pravatar.cc/300" />
        <div>{{item.lastname}} {{item.firstname}}</div>
        <span class="spacer"></span>
        <button mat-icon-button><mat-icon>info</mat-icon></button>
      </div>
      }
    </div>
  </div>
</mat-card>
}
