<div class="submission column">
  <div class="row font-title container">
    <mat-icon>
      receipt_long
    </mat-icon>
    <p>
      Your Submission
    </p>
    <span class="spacer"></span>
    @if (yourSubmissionResponse()) {
    <p class="grade">
      {{yourSubmissionResponse().grade}} / 100
    </p>
    }
    @else {
    <mat-icon class="alert-icon">
      error
    </mat-icon>
    }
  </div>
  <div class="horizontal-line"></div>

  <div class="container content">
    <div class="column main">
      <div class="column">

        @if (yourSubmission()) {
        <div class="attachments">
          <div class="">Attachments <span class="text-hint-small">({{yourSubmission().attachments.length}})</span></div>
          <div *ngFor="let item of yourSubmission().attachments; let i=index">
            <div class="attachment row-centered">
              @if (item) {
              <mat-icon>
                attach_file
              </mat-icon>
              <p>
                {{item}}
              </p>
              }
              @else {
              <p>No name</p>
              }
            </div>
          </div>

          <div *ngIf="yourSubmission().desc">
            <p>Remarks</p>
            <p>{{yourSubmission().desc}}</p>
          </div>

        </div>
        }
        @else {
        <div class="attachments tag">
          <div class="title">Your attachments</div>
          <!--<app-file-uploader ></app-file-uploader>-->

          <!--<div *ngFor="let item of yourSubmission().attachments; let i=index">-->
          <!--  <div class="attachment">-->
          <!--    @if (item) {-->
          <!--    <div class="row-centered">-->
          <!--      <mat-icon>-->
          <!--        attach_file-->
          <!--      </mat-icon>-->
          <!--      <span>-->
          <!--        {{i+1}}: {{item}}-->
          <!--      </span>-->
          <!--    </div>-->
          <!--    }-->
          <!--    @else {-->
          <!--    <div>No name</div>-->
          <!--    }-->
          <!--  </div>-->
          <!--</div>-->
        </div>

        <div *ngIf="yourSubmission().desc">
          <p>
            Your Remark
          </p>

          <p>
            {{yourSubmission().desc}}
          </p>
        </div>
        }
      </div>

      <div class="spacer"></div>
      <button mat-button class="submit-button" (click)="makeChange()">Make change</button>
    </div>
  </div>
</div>
