.submission {
  // margin-top: var(--margin-normal);
  border: 1px solid var(--color-outline-deep);
  min-height: 50vh;
}

.alert-icon {
  color: var(--color-alert);
}

.attachments {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.attachment {
  border-radius: var(--border-rounded);
  border: 3px solid var(--color-outline-normal);
  padding: var(--margin-small);
  // background-color: var(--color-bg-light);
}
.attachment * {
  color: var(--color-medium);
}
.grade {
  // color: var(--color-good);
}

.container.content {
  display: flex;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
}

.submit-button {
  border: 1px solid var(--color-outline-deep);
  border-radius: var(--border-rounded);
}

.grade.container {
  width: auto;
  border: 1px solid green;
  border-radius: 1em;
  padding: 1em 2em;
}

.time {
  font-size: smaller;
  color: darkgray;
}

.notice {
  border: 1px solid skyblue;
  border-radius: 1em;
  padding: 1em 2em;
}

.notice mat-icon {
  color: skyblue;
}
