<div class="submission column">
  <div class="row font-title container">
    <mat-icon>
      receipt_long
    </mat-icon>
    <p>
      Your Submission
    </p>
    <span class="spacer"></span>
    @if (yourSubmissionResponse()) {
    <p class="grade">
      {{yourSubmissionResponse().grade}} / 100
    </p>
    }
    @else {
    <mat-icon class="alert-icon">
      error
    </mat-icon>
    }
  </div>
  <div class="horizontal-line"></div>

  <div class="container content">
    <form class="column main" [formGroup]="submissionForm">
      <div class="column">

        @if (!yourSubmission()) {
        <div class="container note">
          Note: You have not yet submitted.
        </div>
        <div class="margin-bottom"></div>
        }
        <div class="attachments">
          <div class="">Attachments <span class="text-hint-small">({{getSubmissionAttachments().length}})</span>
          </div>
          <div *ngFor="let item of getSubmissionAttachments(); let i=index">
            <div class="attachment row-centered">
              @if (item) {
              <mat-icon>
                attach_file
              </mat-icon>
              <p>
                {{item}}
              </p>
              }
              @else {
              <p>No name</p>
              }
            </div>
          </div>
          <div class="margin-bottom"></div>
          <input #fileSelector hidden="true" type="file" formControlName="attachments" (change)="onFileSelected($event)"
            multiple>
          <button mat-button class="container note" (click)="openFileSelector(fileSelector)">
            Upload here
          </button>
          <div class="margin-bottom"></div>

          <p>Remarks</p>
          <textarea formControlName="remark"></textarea>
          <div class="margin-bottom"></div>
        </div>
      </div>

      <div class="spacer"></div>
      <button mat-button class="submit-button" (click)="submit()" [disabled]="!isValidForm()">
        @if (yourSubmission()) {
        Make Change
        }
        @else {
        Submit Now
        }
      </button>
    </form>
  </div>
</div>
