<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <h2 class="row">
    <mat-icon>token</mat-icon>
    <p>Login to LMS</p>
  </h2>
  <mat-form-field class="" appearance="outline">
    <mat-label>Username</mat-label>
    <input type="text" matInput formControlName="username">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword() ? 'password' : 'text'" formControlName="password" />
    <button mat-icon-button matSuffix (click)="toogleEye($event)">
      <mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-flat-button type="submit" [disabled]="loading()">
    <mat-icon>login</mat-icon>
    <p>Login</p>
  </button>
</form>
