
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>groups</mat-icon>
      <span>Community</span>
    </ng-template>
    <div class="content">
      <p>No community has posted anything. <mat-icon>sentiment_dissatisfied</mat-icon></p>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>explore</mat-icon>
      <span>Explore</span>
    </ng-template>
    <div class="content">
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>live_tv</mat-icon>
      <span>Live</span>
    </ng-template>
    <div class="content">
      <p>No live events are ongoing.<mat-icon>sentiment_dissatisfied</mat-icon></p>
    </div>
  </mat-tab>
</mat-tab-group>


