<mat-menu #menu="matMenu" class="column">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>face</mat-icon>
    <span>
      <div class="profile">
        Profile
      </div>
    </span>
  </button>
  <button mat-menu-item routerLink="/report">
    <mat-icon>summarize</mat-icon>
    <span>Report</span>
  </button>
  <button mat-menu-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item routerLink="/login">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
