.section {
  border: 1px solid #cacaca;
  border-radius: 2em;
  min-width: 20em;
  background-color: #f1f1f1;
}

.box {
  padding: 1em;
  background-color: #f1f1f1;
  outline: none;
  border: none;
}

.box:active {
  outline: none;
}

.fullbox {
  border-radius: 0.5em;
  width: 80%;
}

div img {
  margin: 0;
}

.section {
  gap: 0.5em;
}

.actions {
  gap: 0.5em;
  justify-content: flex-end;
}
