.section {
  border: 1px solid var(--color-outine-deep);
  border-radius: var(--border-rounded);
  // border-left: 3px solid var(--color-accent);
  min-width: 30vw;
  background-color: var(--color-bg-subtle);
}

.box {
  border: none;
  // border-left: 3px solid var(--color-accent);
  background-color: var(--color-bg-subtle);
  outline: none;
}

input {
  font-size: var(--font-size-normal);
}

.box:active {
  outline: none;
}

.fullbox {
  border-radius: bar(--border-small);
  width: 80%;
}


.section {
  gap: var(--margin-small);
}

.actions {
  gap: var(--margin-small);
  justify-content: flex-end;
}
