
.post.container {
  border-radius: var(--border-normal);
  border: 2px solid var(--color-outline-normal);
  transition: background-color 0.1s;
}
.post-title {
  color: var(--color-normal);
  font-size: large;
}
.post-desc {
  color: var(--color-medium);
}

.actions {
  gap: 0.3em;
}

.actions * {
  font-size: smaller;
  color: var(--color-medium);
}

.actions mat-icon {
  font-size: medium;
  color: black;
}

.actions>button {
  font-size: small;
}


.attachments > * {
  border-radius: var(--border-normal);
  padding: var(--margin-small);
  gap: var(--margin-small);
  background-color: var(--color-bg-light);
}
