
@defer (when dueTasks()) {
<div class="panel">
  <div class="accordion container row font-title">
    <mat-icon class="icon-outline">
      task
    </mat-icon>
    <p>
      Tasks
    </p>
    <span class="spacer"></span>
    <p class="row gap-small">
      <span class="text-hint-number-large">
        {{dueTasks().length}}
      </span>
      <span>
        Due
      </span>
    </p>
  </div>
  <div class="divider-line"></div>

  <div class="container tasks column">
    @for (item of dueTasks(); track item) {
    <div class="item row" routerLink="/task/{{item.id}}">
      <mat-icon>
        task
      </mat-icon>
      <div class="icon-label">
        <p>
          {{item.name}}
        </p>
        <p class="text-hint-small">
          {{item.due_at | timeAgo }}
        </p>
      </div>
    </div>

    }
  </div>
</div>
}
@placeholder (minimum 0.4s) {
<div class="anim-loadsquare"></div>
}
