.content {
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
}

.content::-webkit-scrollbar {
  display: none;
}

.main-content {
  width: 70vw;
}

.view-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.side-content {
  position: sticky;
  top: 0;
  width: 30vw;
  overflow: auto;
  scrollbar-width: 0;
  -ms-overflow-style: none;
  margin-left: var(--margin-small);
}

.side-content::-webkit-scrollbar {
  display: none;
}

.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  border-radius: 0;
  border: 1px solid var(--color-outline-light);
  background: var(--color-sidenav);
}
